version: "3"

services:
  db:
    image: postgres:9.6@sha256:cbf0c8aec56a506edef454969700919f9824bb9cb32a0629a9beef010173da3a
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 1s
      timeout: 3s
      retries: 30
  elasticsearch:
    # Intent to always match
    # https://github.com/mozilla-services/cloudops-infra/blob/buildhub2/projects/buildhub2/k8s/charts/elasticsearch/values.yaml
    image: docker.elastic.co/elasticsearch/elasticsearch:6.6.2
    container_name: elasticsearch
    environment:
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata:/usr/share/elasticsearch/data
    ports:
      - 9200:9200

    # I don't think this healthcheck is ever used
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200"]

  # Web container is a prod-like fully-functioning container.
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - FRONTEND_SENTRY_PUBLIC_DSN
        - CI
    image: buildhub:build
    env_file:
      - .env
    depends_on:
      - db
      - elasticsearch
    ports:
      - "8000:8000"
    environment:
      - DJANGO_CONFIGURATION
      - DJANGO_ES_URLS=http://elasticsearch:9200
      - DEVELOPMENT=1
    volumes:
      - $PWD:/app
    command: web-dev

  ui:
    build:
      context: .
      dockerfile: ui/Dockerfile
    environment:
      - NODE_ENV=development
      - REACT_APP_KINTO_COLLECTION_URL=http://localhost:8000/api/
    ports:
      - "3000:3000"
      - "35729:35729"
    volumes:
      - $PWD/ui:/app
    command: start

  docs:
    build:
      context: .
      dockerfile: docs/Dockerfile
    volumes:
      - $PWD/docs:/app
    command: build

volumes:
  esdata:
    driver: local
